# Ignore node_modules in both client and server
/client/node_modules/
/server/node_modules/


# Ignore environment variables
server/.env.development
client/.env.development
server/.env.production
client/.env.production